@use 'global' as *;
@use 'sass:color';

.contact-form {
   display: flex;
   flex-direction: column;
   gap: 1.2rem;

   input,
   textarea {
      padding: 0.8rem 1rem;
      border-radius: 6px;
      border: 1px solid color.scale($color-bg-secondary, $lightness: 20%);
      background: $color-bg-secondary; 
      color: $color-text-root; 
      font-family: $font-primary;
      transition: border-color 0.2s ease, background 0.2s ease;

      &:focus {
         outline: none;
         border-color: $color-brand-primary;
         background: color.scale($color-bg-secondary, $lightness: -5%);
      }
   }

   .hidden-field {
      display: none;
   }

   .success {
      color: #7fff7f; // Vert pour succès
      font-weight: 600;
   }

   .error {
      color: #ff7f7f; // Rouge pour erreur
      font-weight: 600;
   }

   button {
      background: $color-brand-primary;
      color: $color-bg-root; 
      padding: 0.8rem 1.5rem;
      border: none;
      border-radius: 6px;
      font-weight: 600;
      cursor: pointer;
      transition: background 0.2s ease;

      &:hover {
         background: color.scale($color-brand-primary, $lightness: 20%);
      }
   }
}