@use 'global' as *;
@use 'sass:color';

.site-footer {
   padding: 3rem 0;
   text-align: center;
   color: $muted;
   border-top: 1px solid lighten($charcoal, 8%);
   background: darken($black, 2%);
   font-size: 0.9rem;
}