@use 'sass:color';

$bg: #0f0f10;
$muted: #bfbfbf;
$white: #f7f7f7;
$accent: #d0d0d0;

* {
   box-sizing: border-box
}

html,
body,
#root {
   height: 100%
}

body {
   margin: 0;
   font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
   background: $bg;
   color: $white;
   -webkit-font-smoothing: antialiased;
}

.container {
   max-width: 1100px;
   margin: 0 auto;
   padding: 2rem
}

.btn {
   display: inline-block;
   padding: .6rem 1rem;
   border-radius: 6px;
   background: $white;
   color: $bg;
   text-decoration: none;
   font-weight: 600
}