---
import '../styles/_global.scss';
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.jsx';
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="/kintegra_K.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/kintegra_K.png" />
   <link rel="icon" type="image/png" sizes="32x32" href="/kintegra_K.png" />
   <link rel="icon" type="image/png" sizes="16x16" href="/kintegra_K.png" />
   <link rel="manifest" href="/site.webmanifest" />
   
    <title>Kintegra</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>